@model LoginViewModel

<div class="login-page">
    @*<div class="lead">
            <h1>Login</h1>
            <p>Choose how to login</p>
        </div>*@

    <partial name="_ValidationSummary" />

    @*<div class="row">

            @if (Model.EnableLocalLogin)
            {
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>Local Account</h2>
                        </div>

                        <div class="card-body">
                            <form asp-route="Login">
                                <input type="hidden" asp-for="ReturnUrl" />

                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" asp-for="RememberLogin">
                                            <label class="form-check-label" asp-for="RememberLogin">
                                                Remember My Login
                                            </label>
                                        </div>
                                    </div>
                                }
                                <button class="btn btn-primary" name="button" value="login">Login</button>
                                <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            }

            @if (Model.VisibleExternalProviders.Any())
            {
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>External Account</h2>
                        </div>
                        <div class="card-body">
                            <ul class="list-inline">
                                @foreach (var provider in Model.VisibleExternalProviders)
                                {
                                    <li class="list-inline-item">
                                        <a class="btn btn-secondary"
                                           asp-controller="External"
                                           asp-action="Challenge"
                                           asp-route-scheme="@provider.AuthenticationScheme"
                                           asp-route-returnUrl="@Model.ReturnUrl">
                                            @provider.DisplayName
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }

            @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
            {
                <div class="alert alert-warning">
                    <strong>Invalid login request</strong>
                    There are no login schemes configured for this request.
                </div>
            }
        </div>*@

    <div class="row d-flex justify-content-center">
        <div class="card border-0">
            <div>
                <div class="card-header text-warning text-center border-0">
                    <h2>ล๊อกอิน</h2>
                </div>
                <div class="card-subtitle text-secondary text-center border-0 mt-5">
                     <b>ล๊อกอินกับ mana</b>
                </div>
                <div class="card-body">
                    <img id="qr1" height="200" />
                    <img id="qr2" height="200" class="d-none" />
                    <img id="qr3" height="200" class="d-none" />
                </div>
                <div class="text-secondary text-center border-0">
                    <label >
                        <a href="#" class="text-secondary">เปิด mana เพื่อล๊อกอิน</a>
                    </label>
                </div>
            </div>
        </div>
        
    </div>

    <div class="d-none">
        <div class="card">
            <div class="card-body" id="buttonaera">
                <form action="complete" method="post">
                    <input id="baid" type="hidden" asp-for="BizAccountId" />
                    <input id="usernameid" type="hidden" asp-for="Username" />
                    <input type="hidden" asp-for="ReturnUrl" />
                    <button class="btn btn-success" type="submit" id="complete">Completed</button>
                </form>
                <form action="fail" method="post">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <button class="btn btn-danger" type="submit" id="fail">Fail</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/JavaScript.js"></script>

@*<script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>*@